/*actualMap.js*/

#mapid {
  width: 90% auto;
  height: 400px auto;
  max-width: 1020px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: auto;
  margin-left: auto;
}

.info {
  padding: 6px 8px;
  font: 14px/16px 'Lato', 'Roboto', sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.leaflet-container {
  background-color: white;
}

.info.leaflet-control {
  width: auto;
}

.legend {
  text-align: left;
  line-height: 20px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.leaflet-control-zoomhome a {
    font: bold 18px "Lato";
}

a.leaflet-control-zoomhome-in,
a.leaflet-control-zoomhome-out {
  font-size: 1.5em;
}

/*multipleMap.js*/

.small-map {
  -moz-border-radius: 15px;
  border-radius: 15px;
  border-color: #777;
  width: 300px;
  height: 300px;
}
