/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #3F3F3F;
}

h1 {
	font-weight: 700;
	margin-bottom: 0;
}

h3{
	font-weight: 300;
	margin-top: 1%;
}

a{
  color: #3F3F3F;
}
.chart svg {
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
}

.chart {
  margin-bottom: 5%;
}

.center{
  text-align: center;
}
.left{
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
}
