#face {
	width: 100%;
	height: auto;
}
#canvas {
	display: block;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #3F3F3F;
}

h1 {
	font-weight: 700;
	margin-bottom: 0;
}

h3{
	font-weight: 300;
	margin-top: 1%;
}

a{
  color: #3F3F3F;
}
.chart svg {
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
}

.chart {
  margin-bottom: 5%;
}

.center{
  text-align: center;
}
.left{
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
}